.topbanner {
    height: 120px;
    width: auto;
    background-color: #283C7E;
    font-size: xx-large;
    font-weight: bold;
    color: white;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 3px;
    border-color: #CD8F00;
    border-style: solid;
    border-bottom-color: #111111;
    padding-left: 5px; 
  }
  
  body {
      font-family: Arial, Helvetica, sans-serif;
      font-size: large;
      overflow-x: auto;
      overflow-y: auto;
    }
  
  .mainBody {
      padding-top: 25px;
      padding-bottom: 50px;
  }
  
  .navbar ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #283C7E;
      border-color: #CD8F00;
      border-style: solid;
      border-top-color: #111111;
    }
    
    .navbar li {
      float: left;
    }
    
    .navbar li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }
    
    /* Change the link color to #111 (black) on hover */
    .navbar li a:hover {
      background-color: #344780;
    }
  
    .active {
      background-color: #06237A;
    }
  
    .standardButton{
      display: block;
      background: #283C7E;
      border-radius: 100px;
      border-style: solid;
      border-color: #CD8F00;
      padding: 10px;
      text-align: center;
      color: white;
      font-weight: bold;
      line-height: 25px; 
      text-decoration: none;
      cursor: pointer;
    }

    .anchorButton {
      width: 275px;
      height: 20px;
    }
  
    .standardButton:hover {    
      background: #344780;
    }
  
    .footer {
        border-top: #111111;
        border-right: #FFFFFF;
        border-left:  #FFFFFF;
        border-bottom:  #FFFFFF;
        border-style: solid;
    }

    #prizeselectortable{
      align-content: flex-start;
      padding-top: 39px;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
    }

    #prizeselectortable div {
      position: relative;
      height: 150px;
      width: 100px;
      margin: 1px;
    }

    #prizeselectortable div>span {
      position:absolute;
      right:10px;
      bottom:10px;
      z-index:10;
      padding:10px 15px;
      border-radius:50%;
      background:#283C7E;
      border-color: #CD8F00;
      border-style: solid;
      color:white;
      font-size:1.5em;
      pointer-events:none;   
    }

    #deckviewTable{
      align-content: flex-start;
      padding-top: 39px;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
    }

    #deckviewTable div {
      position: relative;
      height: 150px;
      width: 100px;
      margin: 1px;
    }

    #deckviewTable div>span {
      position:absolute;
      right:10px;
      bottom:10px;
      z-index:10;
      padding:10px 15px;
      border-radius:50%;
      background:#283C7E;
      border-color: #CD8F00;
      border-style: solid;
      color:white;
      font-size:1.5em;
      pointer-events:none;   
    }

    .card {
      height: 100%;
      width: 100%;
    }

    .prizeCard {      
      height: 225px;
      width: 150px;
    }

    .opaque{
      opacity: 15%;
    }

    .menuShown{
      
      animation: showMenu 1s ease-in-out 0s 1 normal forwards;
    }

    .menuHidden{
      animation: showMenu 1s ease-in-out 0s 1 reverse forwards;
    }

    @keyframes showMenu{
      0%{
        transform: translateX(0%);
        width: 100%;
      }
      100%{
        transform: translateX(-20%);
        width: 120%;
      }
    }
    
    .socialMediaIcons {
      width: 50px;
      height: 50px;
   }

   .flexCardTable{
    align-content: flex-start;
    padding-top: 39px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .flexCardTable img {
    position: relative;
    height: 150px;
    width: 100px;
    margin: 1px;
  }

  #setName {
    width: 320px;
    height: 30px;
    font-size: 110%;
    padding-left: 2px;
    margin-bottom: 10px;
    border-radius: 7px;
    border:3px solid #cd8f00;
    background-color: #344780;
    color:#f2f2f2;
    font-weight: bold;
}

#cardName {
  width: 320px;
  height: 30px;
  font-size: 110%;
  padding-left: 2px;
  margin-bottom: 10px;
  border-radius: 7px;
  border:3px solid #cd8f00;
  background-color: #344780;
  color:#f2f2f2;
  font-weight: bold;
}

#deckWizardCardName {
  width: 320px;
  height: 30px;
  font-size: 110%;
  padding-left: 2px;
  margin-bottom: 10px;
  border-radius: 7px;
  border:3px solid #cd8f00;
  background-color: #344780;
  color:#f2f2f2;
  font-weight: bold;
}

.centerScreen {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  z-index: 1000;
}

.centeredCard
{
  height: 85%;
  width: 50%;
}

.blur {
  filter: blur(8px);
  -webkit-filter: blur(8px);
}

#bottomButtons
{
  display: inline;
}

.lds-spinner {
  color: official;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: rgb(0, 0, 0);
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.cardSize { 
  margin-right: 20px;    
  width: 340px;
  height: 480px;
  border: none;
  background: none;
}

#cardViewTable{
  align-content: flex-start;
  padding-top: 39px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

#cardViewTable img {
  position: relative;
  height: 150px;
  width: 100px;
  margin: 1px;
}

.loginToTwitch {
  border: #111111;
  border-style: solid;
  border-radius: 30px;
  background-color: #6541a5;
  color: white;
  font-weight: bolder;
  font-size: large;
  width: 200px;
  height: 50px;
}

.loginToTwitch:hover {  
  background-color: #9146ff;
}

#twitchPfp {
  border-radius: 50%;
  float:right
}

#connectedToTwitch {
  border: black;
  border-style: solid;
  border-radius: 20px;
  background-color: #6541a5;
  color: white;
  width: 330px;
  height: 50px;
  padding-top: 3px;
  padding-right: 5px;
  padding-left: 5px;

}