.topbanner {
    height: 120px;
    width: auto;
    background-color: #283C7E;
    font-size: xx-large;
    font-weight: bold;
    color: white;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 3px;
    border-color: #CD8F00;
    border-style: solid;
    border-bottom-color: #111111;
    padding-left: 5px; 
  }
  
  body {
      font-family: Arial, Helvetica, sans-serif;
      font-size: large;
      overflow-x: auto;
      overflow-y: auto;
    }
  
  .mainBody {
      padding-top: 25px;
      padding-bottom: 50px;
  }
  
  .navbar ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #283C7E;
      border-color: #CD8F00;
      border-style: solid;
      border-top-color: #111111;
    }
    
    .navbar li {
      float: left;
    }
    
    .navbar li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }
    
    /* Change the link color to #111 (black) on hover */
    .navbar li a:hover {
      background-color: #344780;
    }
  
    .active {
      background-color: #06237A;
    }
  
    .standardButton{
      display: block;
      background: #283C7E;
      border-radius: 100px;
      border-style: solid;
      border-color: #CD8F00;
      padding: 10px;
      text-align: center;
      color: white;
      font-weight: bold;
      line-height: 25px; 
      text-decoration: none;
      cursor: pointer;
    }

    .anchorButton {
      width: 275px;
      height: 20px;
    }
  
    .standardButton:hover {    
      background: #344780;
    }
  
    .footer {
        border-top: #111111;
        border-right: #FFFFFF;
        border-left:  #FFFFFF;
        border-bottom:  #FFFFFF;
        border-style: solid;
    }

    #prizeselectortable{
      align-content: flex-start;
      padding-top: 39px;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
    }

    #prizeselectortable div {
      position: relative;
      height: 150px;
      width: 100px;
      margin: 1px;
    }

    #prizeselectortable div>span {
      position:absolute;
      right:10px;
      bottom:10px;
      z-index:10;
      padding:10px 15px;
      border-radius:50%;
      background:#283C7E;
      border-color: #CD8F00;
      border-style: solid;
      color:white;
      font-size:1.5em;
      pointer-events:none;   
    }

    .card {
      height: 100%;
      width: 100%;
    }

    .prizeCard {      
      height: 225px;
      width: 150px;
    }

    .opaque{
      opacity: 15%;
    }

    .menuShown{
      
      animation: showMenu 1s ease-in-out 0s 1 normal forwards;
    }

    .menuHidden{
      animation: showMenu 1s ease-in-out 0s 1 reverse forwards;
    }

    @keyframes showMenu{
      0%{
        transform: translateX(0%);
        width: 100%;
      }
      100%{
        transform: translateX(-20%);
        width: 120%;
      }
    }